$medium-breakpoint: 600px;

:root {
	--coriander: #c8d2ba;
	--juniper: #5e8185;
	--juniper-lighter: #82afb4;
	--juniper-darker: #506c70;
	--cascade: #97b2a9;
	--satin: #e2e1cf;
	--brandy: #b08085;

	--primary-bg: #fff;
	--primary-font-color: rgb(24, 24, 24);
}
